<li>
  <a href="<%= user_path(user) %>">
    <%= image_tag user.image, {class: 'mug'} %>

    <div class="blue-text">
      <% if phrase %>
        <%= phrase %>:
      <% end %>
      <%= user.name_short %>
    </div>
  </a>
</li>



