<div class="padded_side">
  <h2>
    How do I find my teacher/student?
  </h2>

  <p>
    Every teacher and student should meet at the front of the first car of whatever train they are on. After you find
    each
    other, then you can find a space for your lesson wherever is convenient. We know you’re going to be having a blast
    learning how to play that ukulele or tasting that stinky cheese, but we ask that you respect the other passengers on
    the train that might be trying to catch up on some shuteye or their favorite book.
  </p>

  <h2>
    What do I bring?
  </h2>

  <p>
    Any materials needed for the lesson should be provided by the teacher and is built into the cost of the lesson.
    Students should bring something to take notes on and, of course, their curiosity!
  </p>

  <h2>When is the lesson over?</h2>

  <p>
    All lessons are 30 minutes long. It is the teacher’s prerogative whether or not they want to continue teaching
    unpaid
    after the 30 minutes are up. Just remember to pay attention to when it’s time to get off! We’d hate for you to miss
    your stop because you’re too engrossed in your lesson.
  </p>

  <h2>Do I have to tip?</h2>

  <p>
    The $25 is a flat fee for the lesson and is processed through our app. No tip is required, but if you absolutely
    loved
    your teacher an extra gratuity is always welcome. A big “thank you” and a promise to book for another lesson is also
    a
    great way to compliment your teacher.
  </p>

  <h2>Is my payment secure?</h2>

  <p>
    All payments are totally secure, and your information is protected through Stripe, our credit card processing
    provider. We will never sell or release your private information.
  </p>

  <h2>What if I have more questions?</h2>

  <p>
    If you still need some clarity please feel free to contact us and we will get back to you as soon as we can. Email
    us
    at <a href="mailto:traintrainco@gmail.com">traintrainco@gmail.com</a> anytime and one of us will holla' back at you.
  </p>

</div>

<div class="padded centered">
  <a href="http://facebook.com/gotraintrain"><img class='icon' src="/assets/icons/facebook-icon.png"/></a>
  <a href="http://twitter.com/GoTrainTrain"><img class='icon' src="/assets/icons/twitter-icon.png"/></a>
</div>


