<% @page = :discovery %>

<% if @northbound.present? %>
  <h2>Northbound Lessons</h2>
  <ul data-role="listview" data-theme="g">
    <% @northbound.each do |lesson| %>
      <%= render :partial => '/lessons/preview', locals: {lesson: lesson} %>
    <% end %>
  </ul>
<% end %>


<% if @southbound.present? %>
  <h2>Southbound Lessons</h2>
  <ul data-role="listview" data-theme="g">
    <% @southbound.each do |lesson| %>
      <%= render :partial => '/lessons/preview', locals: {lesson: lesson} %>
    <% end %>
  </ul>
<% end %>