/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#name {
	text-shadow: 1px 1px 1px white;
	color: red;
	
}

#profile_image {
	text-shadow: 1px 1px 1px white;
	color: red;	
}

.ui-header {
  background: url('/assets/headerbackground.png') repeat-x !important;
}

.ui-footer {
  background: url('/assets/navbackground.png') repeat-x !important;
}

.ui-page {
  background: url('/assets/bodybackground.png') !important;
}

.ui-link-inherit {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#99ffffff', endColorstr = '#00ffffff', GradientType = 0); /* IE6-9 */
}

h1, h2 {
  display: block;
  background: url('/assets/subtitlebg.png') repeat-x !important;
  color: #707070;
  text-shadow: 1px 0px 1px white;
  padding: 5px 0 5px 10px;
  margin: 0;
  font-size: 14px;
}

img.mug {
  height: 100%;
}

table {
  color: #295796;
  font-weight: bold;
  .time {
    font-size: 17pt;
  }
  .info {
    font-size: 13pt;
  }
  label {
    color: #898989;
  }
  td {
    padding: 3px;
    border: 1px solid red;
  }
}

[data-role=footer] {
  margin: 0 !important;
  padding: 0 !important;
  a {
    height: 72px;
  }
}

[data-role=header] {
  text-align: center;
  img {
    width: 55px;
  }
}

#logo {
  width: 151px;
  padding: 8px;
}

.ui-bar-a .ui-shadow, .ui-bar-b .ui-shadow, .ui-bar-c .ui-shadow {
  > span{
    margin-top: 5px !important;
  }
}

.big_blue_button {
  display: block;
  border-radius: 3px;
  background: #334d88 !important; /* Old browsers */
  background: -moz-linear-gradient(top, #334d88 0%, #4365b2 51%, #334d88 52%, #28346a 100%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #334d88), color-stop(51%, #4365b2), color-stop(52%, #334d88), color-stop(100%, #28346a)) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #334d88 0%, #4365b2 51%, #334d88 52%, #28346a 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #334d88 0%, #4365b2 51%, #334d88 52%, #28346a 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #334d88 0%, #4365b2 51%, #334d88 52%, #28346a 100%) !important; /* IE10+ */
  background: linear-gradient(to bottom, #334d88 0%, #4365b2 51%, #334d88 52%, #28346a 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#334d88', endColorstr = '#28346a', GradientType = 0) !important; /* IE6-9 */
  color: white !important;
  text-shadow: 1px 1px 1px black !important;
}

.ui-icon-profile {
  background-image: url("icons/profile.png") !important;
}

.ui-icon-postalesson {
  background-image: url("icons/postalesson.png") !important;
}

.ui-icon-findalesson {
  background-image: url("icons/findalesson.png") !important;
}

.border-left {
  border-left: 1px solid white;
  border-color: rgba(255, 255, 255, .3);
  border-radius: 0px !important;
  box-shadow: 0px 1px 1px 1px #666;
}

form {
  padding: 20px;
}

[data-corners=true], input {
  border-radius: 5px !important;
}

[data-role="controlgroup"] {
  margin: 0 !important;
  padding: 0 !important;
}