/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div#name {
  color: blue;
  text-align: center;
  font-family: "Verdana";
  font-size: 1.25em;
}

img#profile_photo {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.waiting{
  color: #6b6b6b;
  font-size: 16px;
  margin-left: 13px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: bold;
}

.ui-header {
  background: url('/assets/headerbackground.png') repeat-x !important;
}

.ui-footer {
  background: url('/assets/navbackground.png') repeat-x !important;
}

.ui-page {
  background: url('/assets/bodybackground.png') !important;
}

.ui-link-inherit {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#99ffffff', endColorstr = '#00ffffff', GradientType = 0); /* IE6-9 */

  img {
    clip: rect(0px, 50px, 50px, 0px);
    margin-left: -1px;
  }
}

h1, h2 {
  display: block;
  background: url('/assets/subtitlebg.png') repeat-x !important;
  color: #707070;
  text-shadow: 1px 0px 1px white;
  padding: 5px 0 5px 10px;
  margin: 0;
  font-size: 14px;
}

img.mug {
  height: 100%;
}

.blue-text {
  color: #295796;
  font-size: 19px;
  margin-top: 6px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  white-space: nowrap;
  width: 100%;
  color: #295796;
  font-weight: bold;
  .time {
    font-size: 23pt;
  }
  .info {
    font-size: 13pt;
  }
  label {
    color: #898989;
  }
  td {
    padding: 6px 11px;
    border: 1px solid #aaa;
  }
}

[data-role=footer] {
  margin: 0 !important;
  padding: 0 !important;
  a {
    height: 55px;
  }
  img {
    width: 30px;
  }
}

[data-role=header] {
  text-align: center;
}

#logo {
  width: 151px;
  padding-top: 9px;
  padding-bottom: 7px;

}

.big_blue_button div, .big_blue_button a {
  display: block;
  border-radius: 3px;
  background: #334d88 !important; /* Old browsers */
  background: -moz-linear-gradient(top, #334d88 0%, #4365b2 51%, #334d88 52%, #28346a 100%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #334d88), color-stop(51%, #4365b2), color-stop(52%, #334d88), color-stop(100%, #28346a)) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #334d88 0%, #4365b2 51%, #334d88 52%, #28346a 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #334d88 0%, #4365b2 51%, #334d88 52%, #28346a 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #334d88 0%, #4365b2 51%, #334d88 52%, #28346a 100%) !important; /* IE10+ */
  background: linear-gradient(to bottom, #334d88 0%, #4365b2 51%, #334d88 52%, #28346a 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#334d88', endColorstr = '#28346a', GradientType = 0) !important; /* IE6-9 */
  color: white !important;
  text-shadow: 1px 1px 1px black !important;
}

.ui-icon-profile {
  background-image: url("icons/profile.png") !important;
}

.ui-icon-postalesson {
  background-image: url("icons/postalesson.png") !important;
}

.ui-icon-findalesson {
  background-image: url("icons/findalesson.png") !important;
}

.border-left {
  border-left: 1px solid white;
  border-color: rgba(255, 255, 255, .3);
  border-radius: 0px !important;
  box-shadow: 0px 1px 1px 1px #666;
}

form {
  padding: 0 20px;
}

[data-corners=true], input {
  border-radius: 5px !important;
}

[data-role="controlgroup"] {
  margin: 0 !important;
  padding: 0 !important;
}

.tall_bg {
  background: url('/assets/behindbuttonbackground.png') repeat-x;
  padding: 10px;
  min-height: 64px;
}

#main-image {
  //width: 100px;
  margin: auto;
  display: block;
  max-width: 100%;
}
.min_heighted2 {
  min-height: 152px;
}

#min_heighted, {
  min-height: 232px;
}

.padded {
  padding: 13px;
  line-height: 1.5;
  color: #6B6B6B;
}

.padded_top {
  padding: 20px 0;
}

.padded_side{
  padding: 0px 20px;
  h2{
    margin: 0 -20px;
    padding: 0 20px;
  }
}

.pop_out {
  margin: 0 -20px;
}

.hidden:not(.open) {
  display: none !important;

}


img.icon{
  width: 72px;
}
.centered{
  text-align: center;
}


.positioned{
  position: relative;
}
.overlabel label{
  position: absolute;
  color: #999;
  padding: 8px;
}